{% include "htmltop.html" %}

<div class="accessories" id="accessories">
	<h2 align="center">Accessories</h2><br>
	<h4 align="center">	Sony Rigs also supply the following drilling accessories and equipments of whatever sizes and quantity as required by the end-users:</h4>
	<div class="row">
		<div class="col-md-3">
			<img src="/static/images/accessories/drill_rods.png">
			<h4>Drill Rods</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/drill_hammer.png">
			<h4>Drill Hammers</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/drill_rod.png">
			<h4>Drill Bits</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/handpump.png">
			<h4>Hand Pump</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img src="/static/images/accessories/handheld.png">
			<h4>Handheld Jack Hammer</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/hammers_bits.png">
			<h4>Hammers & Bits</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/hydraulicpump.png">
			<h4>Hydraulic Pumps</h4>
		</div>
		<div class="col-md-3">
			<a href="/product/mudpump">	<img src="/static/images/accessories/mudpump.png"></a>

			<h4>Mud Pump</h4>
		</div>
	</div>
	<p style="margin-top:3%;font-size:17px;"><strong>Handheld Hydraulic Rock Drill Jack Hammer</strong> for the purpose of drilling blast, anchor, rock splitting holes in quarries, buildings and constructions without large compressors duly supplied with suitable drill rods of various sizes</p>

</div>

{% include "htmlbottom.html" %}
