{% include "htmltop.html" %}
<div style="margin-top:15%;">
<div id="dg-container" class="dg-container">
	<div class="dg-wrapper">
		<a><img src="/static/images/gallery/1.JPG" alt="image01"><div></div></a>
		<a><img src="/static/images/gallery/2.JPG" alt="image02"><div></div></a>
		<a><img src="/static/images/gallery/3.JPG" alt="image03"><div></div></a>
		<a><img src="/static/images/gallery/4.JPG" alt="image04"><div></div></a>
		<a><img src="/static/images/gallery/5.JPG" alt="image05"><div></div></a>
		<a><img src="/static/images/gallery/6.JPG" alt="image06"><div></div></a>
		<a><img src="/static/images/gallery/7.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/8.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/9.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/10.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/11.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/12.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/13.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/14.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/15.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/16.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/17.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/18.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/19.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/20.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/21.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/22.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/23.JPG" alt="image07"><div></div></a>
	</div>
</div>


{% include "htmlbottom.html"%}
