<html>
<head>

<title>{{ page_title }}</title>

<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#home">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#accessories">Accessories</a></li>
	    <li><a href="/#services">Services</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#contact">Contact</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
			<a href="/water-well-rigs">Water Well Rigs
			</a>
		</li>
		<li>
			<a href="/mining-exploration-rigs">Mining & Exploration Rigs</a>
		</li>
		<li >
			<a href="/autoloader-rigs">Autoloader Rigs</a>
		</li>


              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div style="margin-top:15%;">
<div id="dg-container" class="dg-container">
	<div class="dg-wrapper">
		<a><img src="/static/images/gallery/1.JPG" alt="image01"><div></div></a>
		<a><img src="/static/images/gallery/2.JPG" alt="image02"><div></div></a>
		<a><img src="/static/images/gallery/3.JPG" alt="image03"><div></div></a>
		<a><img src="/static/images/gallery/4.JPG" alt="image04"><div></div></a>
		<a><img src="/static/images/gallery/5.JPG" alt="image05"><div></div></a>
		<a><img src="/static/images/gallery/6.JPG" alt="image06"><div></div></a>
		<a><img src="/static/images/gallery/7.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/8.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/9.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/10.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/11.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/12.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/13.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/14.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/15.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/16.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/17.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/18.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/19.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/20.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/21.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/22.JPG" alt="image07"><div></div></a>
		<a><img src="/static/images/gallery/23.JPG" alt="image07"><div></div></a>
	</div>
</div>


{% include "htmlbottom.html"%}
