<html>
<head>

<title>{{ page_title }}</title>

<link rel="stylesheet" href="/static/css/bootstrap.css">

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Accessories</a></li>
	    <li><a href="">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tech Specifications<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu">
			<a tabindex="-1" href="#">Water Well Rigs
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Sony Propel-650a DTH Rig</a></li>
				<li><a href="#">Sony Thrust-450 DTH Rig</a></li>
				<li><a href="#">Sony Force-300 DTH Rig</a></li>
				<li><a href="#">Sony Surf-150 DTH Rig</a></li>
				<li><a href="#">Sony-150 DTH (Tractor Mounted Rig)</a></li>
				<li><a href="#">Sony-150 DTH (Tram Mounted Rig)</a></li>
				<li><a href="#">Sony-150 Portable Rig (Pneumatic Method)</a></li>
				<li><a href="#">Sony-150 Poratble Rig (Hydraulic Method) </a></li>
			</ul>
		</li>
		<li class="dropdown-submenu">
			<a tabindex="-1" href="#">Mining & Exploration Rigs</a>
			<ul class="dropdown-menu">
				<li><a href="#">Sony-400CDR (Core Drilling Rig)</a>
				<li><a href="#">Sony-450RC (Reverse Circulation Rigs)</a></li>
			</ul>
		</li>
		<li class="dropdown-submenu">
			<a tabindex="-1" href="#">Autoloader Rigs</a>
			<ul class="dropdown-menu">
				<li><a href="#">Sony-500AL (Autoloader)</a>
			</ul>
		</li>


              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


