<script src="/static/js/jquery1-11-1.js"></script>
<script src="/static/js/modernizr.custom.79639.js"></script>
<script type="text/javascript" src="/static/js/jquery.gallery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>


$(document).ready(function(){
	$("#myCarousel").carousel();
	$('#dg-container').gallery({
					autoplay:true
					});
});
$('a[href^="#"]').on('click',function(e){
			e.preventDefault();
			var target=this.hash,
			$target=$(target),x=150;
			$('html,body').animate({
				'scrollTop': $target.offset().top-80



				},1000,'swing',function(){

				//                   window.location.hash = target;

				});

			});
		if(window.location.search.indexOf("submit=True") > -1)
			alert("We have received your request and will return back to you shortly");
		if(window.location.search.indexOf("submit=False") > -1)
			alert("There has been some error while submitting the form. Please try again");
		


</script>
</body>
</html>
