{% include "htmltop.html" %}


<div id="home" class="home" align="center">
	<h1 align="center">WELCOME TO SONY RIGS</h1><br><br>
	<div class="row">
		<div class="col-md-6">
			<img src="/static/images/home_img.jpg" height=60% style="margin-top:30px;">
		</div>
		<div class="col-md-5">
	<h2>Our Vision</h2><br>
	<h3>To make variety of rigs for a wide range of drilling for our customers all round the world. </h3><br>
	<h2>Our Mission</h2><br>
	<h3>To exceed our customers’ expectations in quality, delivery, and cost<br> through continuous improvement and customer interaction.</h3>
	</div>
	</div>

</div>

<div class="about" id="about">
	<h1 align="center">About Us</h1>
	<p style="font-size:17px;">Sony Rigs and Hydraulics Private limited, a family-owned drilling company was established in Tiruchengode, Tamilnadu State, India by Mr. N. Gunasekaran and his son Mr. Cibiraj Gunasekaran. The company originally derived from Sony Borewells that have been in drilling industry since 1980 working in various private & public sector projects all over India. In 2002 Sony Rig Spares was founded and this was the first-step to move into retailing drilling tools, hydraulics accessories & spares and from there-on enhanced its caliber into rig manufacturing. This had led into establishing a new venture in the name of Sony Rigs and Hydraulics Private Limited. <br><br>

Sony Rigs is manufacturing a wide range of drilling rigs that suits various applications (Water Well Drilling, Diamond Core Drilling, Reverse Circulation Drilling, Piling & Pole Drilling, Portable Drilling). Our rigs are made suitable to mount on trucks and crawlers. We also fabricate custom-built rigs as per the exact choice of customers. Everything we do is dedicated to meeting the needs of the drilling end-users. Driven by customers requirements, Sony Rigs design and manufacture its products around the traditions of superior quality, innovation & flexibility. By utilizing modern facilities for designing and fully integrated manufacturing processes, our end-user dreams are absolutely transformed into drilling solutions to meet the ever-increasing demands of the industry.
In a market where adapting to latest changes is traditionally slow, we have progressively improved the function & quality of our products to provide up-to-date world class performance & reliability.<br><br>
Sony Rigs approaches all its domestic & international customers with an emphasis on long term basis only, which means establishing a benevolent relationship directly with its end-users everlastingly. <br><br>
On these auspicious lines, we request you to kindly send us your inquiry through the form available in our website that enables us to respond and serve you with immense pleasure.  <br><br>
Wishing joyous drilling!!<br><br>

</div>

<div class="accessories" id="accessories">
	<h4 align="center">	Sony Rigs also supply the following drilling accessories and equipments of whatever sizes and quantity as required by the end-users:</h4>
	<div class="row">
		<div class="col-md-3">
			<img src="/static/images/accessories/drill_rods.png">
			<h4>Drill Rods</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/drill_hammer.png">
			<h4>Drill Hammers</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/drill_rod.png">
			<h4>Drill Bits</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/handpump.png">
			<h4>Hand Pump</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img src="/static/images/accessories/handheld.png">
			<h4>Handheld Jack Hammer</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/hammers_bits.png">
			<h4>Hammers & Bits</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/hydraulicpump.png">
			<h4>Hydraulic Pumps</h4>
		</div>
		<div class="col-md-3">
			<img src="/static/images/accessories/mudpump.png">
			<h4>Mud Pump</h4>
		</div>
	</div>
	<p style="margin-top:3%;font-size:17px;"><strong>Handheld Hydraulic Rock Drill Jack Hammer</strong> for the purpose of drilling blast, anchor, rock splitting holes in quarries, buildings and constructions without large compressors duly supplied with suitable drill rods of various sizes</p>

</div>

<div class="services" id="services">
	<h3 align="center">Services</h3>
	<p>
	In the name of <strong>Sony Borewells</strong>, we have been providing services in drilling projects to customers spread all over India and Bhutan consecutively for more than 3 decades since 1980.  We have exclusively deployed 10 numbers of rig fleets for carrying out water drilling projects and micro-piling drilling projects as per the exact need of our customers.  The in-depth experience has made Sony Borewells to successfully perform many drilling projects to the absolute satisfaction of the end-user at all times and we are proud to say that we are a specialist in micro-piling and water-well drilling.<br><br>
	We are looking to expand into other kinds of drilling projects, such as Core Drilling, Piling Works (dia above 20 inches) and Reverse Circulation Drilling.<br><br>

	Following are our esteemed clientele: <br><br>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-6">
	<ul>
		<li>L&T - Larsen &Toubro, Bhutan</li>
		<li>	NGRI - National Geographical Research Institute, India</li>
		<li>ONGC - Oil and Natural Gas Corporation, India</li>
		<li>	Government of Rajasthan, India</li>
	<li>	Government of Karnataka, India</li>
	<li>	Government of Tamilnadu, India</li>
	<li>Government of Orissa, India</li>
	<li>	Infosys, India</li>
	<li>Confident Group (Infrastructures), India</li>
	<li>	RAN India Steels Pvt. Ltd., India</li>
	</ul>
	</div>
	</div>
	</p>
</div>

<div class="contact" id="contact">
	<strong><h3 align="center">SONY RIGS & HYDRAULICS PVT LTD.</h3></strong>
	<p align="center">
	[Manufacturer & Exporter of ‘Sony’ Water Well & Mining Drilling Rigs]<br>
	No.3/230D, Sankari Road,<br>
	Tiruchengode – 637304, Namakkal District,<br>
	Tamilnadu, INDIA.<br>
	Cell Phone: +91 9600535555 / Telefax: +91 4288 257555<br></p>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
	<form id="contactform" align="center" style="margin-top:30px;" method="post" action="/sendmail">
		{% csrf_token %}
		<input type="text" id="name" placeholder="Name" class="form-control" name="name" required><br>
		<input type="email" id="email" placeholder="Email" class="form-control" name="email" required><br>
		<input type="text" id="subject" placeholder="Subject" class="form-control" name="subject" required><br>
		<textarea id="message" placeholder="Message" class="form-control" rows=5 name="message" required></textarea><br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	</div>
	</div>

</div>

<div class="about" id="propel">
	<h4 align="center">SONY PROPEL-650a DTH RIG</h4>
	<div class="row">
		<div class="col-md-3"><img src="/static/images/propel.JPG" class="techspec"></div>
		<div class="col-md-9">
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Specifics</th>
				</tr>
				<tr>
					<td>Drill Hole Size</td>
					<td>From 6" to 14" diameter bore holes</td>
				</tr>
				<tr>
					<td>Maximum Depth</td>
					<td>650 Meters(2100 Feet)</td>
				</tr>
				<tr>
					<td>Mast Assembly</td>
					<td>Heavy Duty structural steel channel construction with suitable hydraulic cylinder for mast raising and loading</td>
				</tr>
				<tr>
					<td>Rotatory Heading</td>
					<td>Hydraulic top drive with 533mm retraction</td>
				</tr>
				<tr>
					<td>Capacity</td>
					<td>Pull Up: 6818kgf/ Pull Down: 7272kgf</td>
				</tr>
				<tr>
					<td>Hydraulic System Operation</td>
					<td>By two Gear Pumps of 126 K6-cm2 pressure @ 245LPM pump flow</td>
				</tr>
				<tr>
					<td>Prime Mover(Input Drive)</td>
					<td>The power for rig is taken from the truck engine through transfer gear box (or) a separate engine with suitable capacity duly mounted on the deck of the truck platform. The rig unit can also be mounted on track crawler undercarriage.</td>
				</tr>
				<tr>
					<td>HYDRAULIC DRIVEN MUD PUMP
					(If mud drilling preferred)</td>
					<td>MP-200 (8” x 6”) model mud pump / Stroke 200mm, Liner Size 150mm, Working Pressure 20.74 Kg/Cm2 with maximum flow capacity of 1361 LPM @ required power of 75 BHP.</td>
				</tr>
				<tr>
					<td>HYDRAULIC LEVELING JACKS</td>
					<td>A suitable 4 nos. of box type stabilizer jacks – two in front and two in rear.
					</td>
				</tr>
				<tr>
					<td>BREAK OUT CLAMP ASSEMBLY</td>
					<td>Actuation type cylinder for breaking drill rod joints without manual intervention.
					</td>
				</tr>
				<tr>
					<td>SUITABLE COMPRESSOR</td>
					<td>1500 cfm @ 400 psi  / 1350 cfm @ 365 ps</td>
				</tr>
			</table>
		</div>

	</div>
</div>


<div class="about" id="thrust">
	<h4 align="center">SONY PROPEL-650a DTH RIG</h4>
	<div class="row">
		<div class="col-md-3"><img src="/static/images/propel.JPG" class="techspec"></div>
		<div class="col-md-9">
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Specifics</th>
				</tr>
				<tr>
					<td>Drill Hole Size</td>
					<td>From 6" to 14" diameter bore holes</td>
				</tr>
				<tr>
					<td>Maximum Depth</td>
					<td>457 Meters(1500 Feet)</td>
				</tr>
				<tr>
					<td>Mast Assembly</td>
					<td>Heavy Duty structural steel channel construction with suitable hydraulic cylinder for mast raising and loading</td>
				</tr>
				<tr>
					<td>Mast (Hook Load Capacity)</td>
					<td>31318 Kgf</td>
				</tr>
				<tr>
					<td>Rotatory Head</td>
					<td>Hydraulic top drive with 533mm retraction</td>
				</tr>
				<tr>
					<td>Capacity</td>
					<td>Pull Up: 6818kgf/ Pull Down: 7272kgf</td>
				</tr>
				<tr>
					<td>Hydraulic System Operation</td>
					<td>By two Gear Pumps of 126 K6-cm2 pressure @ 245LPM pump flow</td>
				</tr>
				<tr>
					<td>Prime Mover(Input Drive)</td>
					<td>The power for rig is taken from the truck engine through transfer gear box (or) a separate engine with suitable capacity duly mounted on the deck of the truck platform. The rig unit can also be mounted on track crawler undercarriage.</td>
				</tr>
				<tr>
					<td>HYDRAULIC DRIVEN MUD PUMP
					(If mud drilling preferred)</td>
					<td>MP-200 (8” x 6”) model mud pump / Stroke 200mm, Liner Size 150mm, Working Pressure 20.74 Kg/Cm2 with maximum flow capacity of 1361 LPM @ required power of 75 BHP.</td>
				</tr>
				<tr>
					<td>HYDRAULIC LEVELING JACKS</td>
					<td>A suitable 4 nos. of box type stabilizer jacks – two in front and two in rear.
					</td>
				</tr>
				<tr>
					<td>BREAK OUT CLAMP ASSEMBLY</td>
					<td>Actuation type cylinder for breaking drill rod joints without manual intervention.
					</td>
				</tr>
				<tr>
					<td>SUITABLE COMPRESSOR</td>
					<td>1500 cfm @ 400 psi  / 1350 cfm @ 365 ps</td>
				</tr>
			</table>
		</div>

	</div>
</div>


{% include "htmlbottom.html" %}
