{% include "htmltop.html" %}


<div id="home" class="home" align="center">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-9">
		<h1 align="center" style="" id="hometitle">WELCOME TO SONY RIGS</h1><br><br></div>
	
		<div class="col-md-1">
			<img src="/static/images/home/6.jpg" class="iso_img">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=3000 >

		<!-- Carousel indicators -->

		<ol class="carousel-indicators">

			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>

			<li data-target="#myCarousel" data-slide-to="1"></li>

			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>

		</ol>   

		<!-- Carousel items -->

		<div class="carousel-inner">

			<div class="item active">
				<img src="/static/images/home/1.JPG">
			</div>
			<div class="item">
				<img src="/static/images/home/2.JPG">
			</div>
			<div class="item">
				<img src="/static/images/home/3.JPG">
			</div>
			<div class="item ">
				<img src="/static/images/home/4.JPG">
			</div>
			<div class="item ">
				<img src="/static/images/home/5.JPG">
			</div>

		</div>

		<!-- Carousel nav -->

		<a class="carousel-control left" href="#myCarousel" data-slide="prev">

			<span class="glyphicon glyphicon-chevron-left"></span>

		</a>

		<a class="carousel-control right" href="#myCarousel" data-slide="next">

			<span class="glyphicon glyphicon-chevron-right"></span>

		</a>

	</div>
	</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4"><h3>Vision</h3>
				To make variety of rigs for a wide range of drilling for our customers all round the world. 
			</div>
		<div class="col-md-2"></div>
		<div class="col-md-4"><h3>Mission</h3>
			To exceed our customers’ expectations in quality, delivery, and cost through continuous improvement and customer interaction.</div>
	</div>
</div>







{% include "htmlbottom.html" %}
