{% include "htmltop.html"%}

<div class="services" id="services">
	<h3 align="center">Services</h3>
	<p>
	In the name of <strong>Sony Borewells</strong>, we have been providing services in drilling projects to customers spread all over India and Bhutan consecutively for more than 3 decades since 1980.  We have exclusively deployed 10 numbers of rig fleets for carrying out water drilling projects and micro-piling drilling projects as per the exact need of our customers.  The in-depth experience has made Sony Borewells to successfully perform many drilling projects to the absolute satisfaction of the end-user at all times and we are proud to say that we are a specialist in micro-piling and water-well drilling.<br><br>
	We are looking to expand into other kinds of drilling projects, such as Core Drilling, Piling Works (dia above 20 inches) and Reverse Circulation Drilling.<br><br>

	Following are our esteemed clientele: <br><br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-6">
	<ul style="list-style-type: none;">
		<li><i class="fa fa-arrow-right"></i> L&T - Larsen &Toubro, Bhutan</li>
		<li><i class="fa fa-arrow-right"></i> 	NGRI - National Geographical Research Institute, India</li>
		<li><i class="fa fa-arrow-right"></i> ONGC - Oil and Natural Gas Corporation, India</li>
		<li><i class="fa fa-arrow-right"></i> 	Government of Rajasthan, India</li>
	<li><i class="fa fa-arrow-right"></i> 	Government of Karnataka, India</li>
	<li><i class="fa fa-arrow-right"></i> 	Government of Tamilnadu, India</li>
	<li><i class="fa fa-arrow-right"></i> Government of Orissa, India</li>
	<li><i class="fa fa-arrow-right"></i> 	Infosys, India</li>
	<li><i class="fa fa-arrow-right"></i> Confident Group (Infrastructures), India</li>
	<li><i class="fa fa-arrow-right"></i> 	RAN India Steels Pvt. Ltd., India</li>
	</ul>
	</div>
	</div>
	</p>
</div>

{% include "htmlbottom.html" %}
